#navbar{
    padding: 15px;
    text-align: right;
}

a:link, :visited, :active{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.button{
    display: inline-block;
    width: 130px;
    padding: 5px;
}

#img{
    text-align: center;
}

#imgcontainer{
    text-align: center;
    position: relative;
}

#subscript{
    position: absolute;
    bottom: 20px;
    right: 715px;
    font-size: 18px;
    color: rgb(83, 123, 243);
}

img{
    padding-top: 190px;
    padding-bottom: 10px;
    width: 300px;
}

.search{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

input[type=text]{
    width: 560px;
    border-radius: 40px;
    height: 40px;
    border: 1px solid lightgray;
    
    font-size: 18px;
    padding-left: 20px;
}

input[type=text]:hover, input[type=text]:active {
    box-shadow: 0 0 5px rgba(211, 211, 211, 1);
}

input[type=text]:focus{
    outline: none;
}

input[type=submit]{
    width: 140px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    border: 0px;
}

input[type=submit]:hover {
    box-shadow: 0 0 1px black;
}

div{
    box-sizing: border-box;
}
