{% extends "auctions/layout.html" %}

{% block body %}
<h1>Create New Listing</h1>
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <input class="form-control" type="text" name="title" placeholder="Title" required>

        <div style="padding-top: 10px;">
            <textarea class="form-control" rows="4" cols="100" name="description" placeholder="Enter description here" required></textarea>
        </div>
        
        <div style="padding-top: 10px;">
            <input class="form-control" type="number" name="startbid" placeholder="Start Bid" required>
        </div>
        
        <div style="padding-top: 10px;">
            <input class="form-control" type="url" name="imgurl" placeholder="Image URL">
        </div>
        
        <div style="padding-top: 10px;">
            <button class="btn btn-primary" type="Submit">Create</button>
        </div>
    </form>
{% endblock %}