{% extends "auctions/layout.html" %}

{% block title %}{{listing.name}}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="{{listing.image}}" alt="No Image Availabe">
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="padding: 20px;">
                    <h1 class="card-title">{{listing.name}}</h1>
                    <p class="card-text">{{listing.description}}</p>
                    <p></p>
                    <h3>${{listing.startBid}} </h3>
                    <h5>Current Bid: {{maxbid}}</h5>
                    
                    {% if not listing.isClosed %}
                        {% if user.username != listing.seller.username %}
                            <form method="POST" action="{% url 'bid' %}">
                                {% csrf_token %}
                                <div class="input-group" style="width: 50%;">
                                    <span class="input-group-text">$</span>
                                    <input type="number" name="amount" class="form-control">
                                    <button class="btn btn-outline-secondary" type="Submit">Bid</button>
                                    <input type="hidden" name="userID" value={{listing.id}}>
                                </div>
                            </form>

                            {% if message %}
                                <div class="alert alert-danger" role="alert">{{message}}</div>
                            {% endif %}
                            <p></p>

                            <form action="{% url 'watchlist' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="listing" value="{{listing.id}}">
                                <button class="btn btn-primary" type="submit" style="width: 25%;">
                                    {% if inWatchlist %}
                                        Remove from watchlist
                                    {% else %}
                                        Add to watchlist
                                    {% endif %}
                                        </button>
                                    </form>    
                        {% else %}
                            <form method="POST" action="{% url 'listing' listing.id %}">
                                {% csrf_token %}
                                <button class="btn btn-primary" type="submit">Close</button>
                            </form>
                        {% endif %}   
                    {% else %}
                        {% if listing.winner %}
                            {% if listing.winner == user %}
                                <div class="alert alert-success" role="alert">You are the winner!</div>
                            {% else %}
                                <div class="alert alert-success" role="alert">{{listing.winner.username}} is the winner!</div>
                            {% endif %}
                        {% else %}
                            <div class="alert alert-warning" role="alert">No Winner</div>
                        {% endif %}
                    {% endif %}
                    
                </div>    
                            
                        
                <div class="card" style="padding: 20px;">
                    <h2>Comments</h2>
                    <form action="{% url 'comment' %}" method="post" >
                        {% csrf_token %}
                        <textarea class="form-control" name="text" placeholder="Enter comment here" required></textarea>
                        <div style="margin: 10px;">
                            <button class="btn btn-primary" type="submit">Comment</button>
                        </div>
                        <input type="hidden" name="userID" value={{listing.id}}>
                    </form>
                    <div style="list-style-type: none; border-top: 1px solid lightgray ; padding-top: 10px; padding-left: 20px;">
                        {% for comment in comments %}
                            <div style="text-align: left;">
                                <h6 >{{comment.commenter.username}}</h6>
                                <p>{{comment.text}}</p>
                            </div>
                        {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}