{% extends "auctions/layout.html" %}

{% block body %}

    <h1>Watchlist</h1>
    <ul class="list-group">
        {% for listing in watchlist %}
        <li class="list-group-item">
            <div style="font-size: 24px; font-weight: normal;">
                <a href="{% url 'listing' listing.id %}">{{listing.name}}</a>
            </div>
            <div style="font-size: 16px;">by {{listing.seller}}</div>
            <h5 style="padding-top: 20px;">${{listing.startBid}}</h5>
        </li>
        {% endfor %}
    </ul>
{% endblock %}